/* General styling for the Home container */
.Home {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  /* Styling for the main content area */
  .main-content {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  
  /* Sidebar styles */
  .main-content > .sidebar {
    flex-basis: 250px; /* Matches the sidebar width */
    flex-shrink: 0;
  }
  
  /* Admin login content */
  .main-content > .admin-login {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
  }
  